spring:
  application:
    name: Medicare
  datasource:
    url: jdbc:postgresql://localhost:5432/medicare?useSSL=false
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
    properties:
      hibernate:
        format_sql: true